
/*Color Shortcuts*/
$white: #fff;
$red : #D24958;
$blue: #1B528A;
$green: #008036;

body{
  margin: 0;
  header{
    min-height: 95px;
    .menuWrapper{
      .menu{
        display: none;
      }
    }
    .logo{
      text-align: right;
      img{
        width: 50%;
      }
    }
  }
  .introSpace{
    position: relative;
    .imgWrap{
      .imgWrapInner{
        img{
          width: 100%;
        }
      }
    }
    .introMessage{
      color: $blue;
      position: absolute;
      width: 18em;
      font-size: 0.75em;
      top: 0;
      right: 5%;
      h3{
        font-weight: normal;
      }
      a, a:visited{
        color: $blue;
      }
    }

  }
  .about{
    text-align: center;
    color: $white;
    background: $red;
    font-size: 0.75em;
    padding: 0.5em;
    h4{
      font-weight: normal;
    }
  }
  .categories{

  }
  .trailsWrap{
    background: $green;
    padding-bottom: 1em;
    h4{
      text-align: center;
      color: $white;
      font-weight: normal;
      font-size: 2em;
      margin: 0;
      padding: 0.5em 0;
    }
    ul.trailsList{
      list-style: none;
      padding: 0;
      li{
        text-align: center;
        border-bottom: 1px solid $white;
        padding: 0.5em;
        a{
          color: $white;
          text-transform: uppercase;
        }
      }
    }

  }
  .eastsideTrailInfo{

  }
  .beltlineMap{

  }

  footer{
    background: $blue;
      ul.socialMediaWrapper{
        padding: 0;
        list-style: none;
        text-align: center;
        li{
          display: inline;
          a{
            img{
              width: 5%;
            }
          }
        }
      }

  }
}
