
/*Color Shortcuts*/
$white: #fff;
$red : #D24958;

body{
  header{
    min-height: 95px;
    .menuWrapper{
      .menu{
        display: none;
      }
    }
    .logo{
      text-align: right;
      img{
        width: 50%;
      }
    }
  }
  .introSpace{
    background: url(../images/main.jpg)no-repeat center;
    background-size: cover;
    .introMessage{}

  }
  .about{
    text-align: center;
    color: $white;
    background: $red;
    font-size: 0.75em;
  }
  .categories{

  }
  .trailsWrap{

  }
  .eastsideTrailInfo{

  }
  .beltlineMap{

  }

  footer{

  }
}
