/*Color Shortcuts*/
a:hover {
  text-decoration: none; }

body {
  margin: 0; }
  body h4 {
    margin: 0; }
  body header {
    min-height: 95px;
    background: #D1DEE9; }
    body header .searchBox input {
      border: none;
      padding: 0.25em; }
      body header .searchBox input::-webkit-input-placeholder {
        color: #1B528A; }
      body header .searchBox input:-moz-placeholder {
        /* Firefox 18- */
        color: #1B528A; }
      body header .searchBox input::-moz-placeholder {
        /* Firefox 19+ */
        color: #1B528A; }
      body header .searchBox input:-ms-input-placeholder {
        color: #1B528A; }
    body header .menuWrapper .menuBtn {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 108px;
      height: 96px;
      font-size: 0;
      text-indent: -9999px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: none;
      border-radius: 0;
      border: none;
      cursor: pointer;
      float: left;
      -webkit-transition: background 0.3s;
      transition: background 0.3s;
      background-color: transparent;
      z-index: 2;
      /* active state, i.e. menu open */ }
      body header .menuWrapper .menuBtn:focus {
        outline: none; }
      body header .menuWrapper .menuBtn span {
        display: block;
        position: absolute;
        top: 45px;
        left: 30px;
        right: 30px;
        height: 4px;
        background: #1B528A;
        -webkit-transition: background 0 0.3s;
        transition: background 0 0.3s; }
        body header .menuWrapper .menuBtn span::before, body header .menuWrapper .menuBtn span::after {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #1B528A;
          content: "";
          -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
          -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0; }
        body header .menuWrapper .menuBtn span::before {
          top: -11px;
          -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform; }
        body header .menuWrapper .menuBtn span::after {
          bottom: -11px;
          -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform; }
      body header .menuWrapper .menuBtn.active span {
        background: none; }
        body header .menuWrapper .menuBtn.active span::before, body header .menuWrapper .menuBtn.active span::after {
          background: #fff;
          -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s; }
        body header .menuWrapper .menuBtn.active span::before {
          top: 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        body header .menuWrapper .menuBtn.active span::after {
          bottom: 0;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    body header .menuWrapper .menu {
      display: none;
      position: absolute;
      z-index: 1;
      padding: 8em 2.5em;
      background: #1B528A; }
      body header .menuWrapper .menu ul {
        padding: 0;
        list-style: none; }
        body header .menuWrapper .menu ul li {
          margin: 2em 0; }
          body header .menuWrapper .menu ul li a {
            font-size: 1.5em;
            color: #fff; }
      body header .menuWrapper .menu .searchBox input {
        height: 2em;
        font-size: 1.5em; }
    body header .logo {
      text-align: right; }
      body header .logo img {
        width: 50%; }
    body header .menuWide {
      display: none;
      padding-left: 25%;
      padding-top: 2.75em; }
      body header .menuWide ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        body header .menuWide ul li {
          display: inline;
          margin: 2em; }
          body header .menuWide ul li a {
            text-transform: uppercase; }
            body header .menuWide ul li a:hover {
              color: #D24958; }
        body header .menuWide ul .searchBox {
          display: inline;
          float: right;
          margin-right: 5em; }
          body header .menuWide ul .searchBox input {
            text-align: right; }
  body .introSpace {
    position: relative; }
    body .introSpace .imgWrap .imgWrapInner {
      overflow: hidden;
      width: 100%;
      height: 30em; }
      body .introSpace .imgWrap .imgWrapInner img {
        width: 170%;
        transform: translateX(-25%); }
    body .introSpace .introMessage {
      display: none;
      color: #1B528A;
      position: absolute;
      width: 18em;
      font-size: 0.75em;
      top: 0;
      right: 5%; }
      body .introSpace .introMessage h3 {
        font-weight: normal; }
      body .introSpace .introMessage a, body .introSpace .introMessage a:visited {
        color: #1B528A; }
  body .about {
    text-align: center;
    color: #fff;
    background: #D24958;
    font-size: 0.75em;
    padding: 3em; }
    body .about h4 {
      font-weight: normal;
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 0 auto; }
  body .categories a {
    padding: 0; }
    body .categories a:hover span.filter {
      display: none; }
  body .categories .filter {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute; }
    body .categories .filter.parksFilter {
      background: rgba(255, 0, 0, 0.4);
      /*Red*/ }
    body .categories .filter.trailsFilter {
      background: rgba(0, 255, 0, 0.2);
      /*Green*/ }
    body .categories .filter.eventsFilter {
      background: rgba(255, 255, 0, 0.3);
      /*Yellow*/ }
    body .categories .filter.toursFilter {
      background: rgba(0, 0, 255, 0.3);
      /*Blue*/ }
  body .categories .category {
    height: 8em;
    background-size: 100%; }
    body .categories .category h4 {
      font-size: 2em;
      font-weight: bold;
      color: #fff;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  body .categories .category.parks {
    background: url(../images/child.jpg) 50% 33%;
    background-size: 100%; }
  body .categories .category.trails {
    background: url(../images/stroller.jpg) 50% 20%;
    background-size: 100%; }
  body .categories .category.events {
    background: url(../images/lantern2.jpg) 50% 25%;
    background-size: 95%; }
  body .categories .category.tours {
    background: url(../images/bridge.jpg) 50% 30%;
    background-size: 100%; }
  body .trailsWrap {
    background: #008036;
    padding-bottom: 1em;
    position: relative; }
    body .trailsWrap h4 {
      text-align: center;
      color: #fff;
      font-weight: normal;
      font-size: 2em;
      margin: 0;
      padding: 0.5em 0; }
    body .trailsWrap ul.trailsList {
      list-style: none;
      padding: 0; }
      body .trailsWrap ul.trailsList li {
        text-align: center;
        border-bottom: 1px solid #fff;
        padding: 0.5em; }
        body .trailsWrap ul.trailsList li a {
          color: #fff;
          text-transform: uppercase; }
  body .eastsideTrailWrap {
    background: #D1DEE9; }
  body .eastsideTrailInfo {
    background: #D1DEE9;
    padding: 4.5em;
    color: #1B528A; }
    body .eastsideTrailInfo h4 {
      font-size: 2em;
      margin-bottom: 0.75em; }
    body .eastsideTrailInfo p {
      margin-bottom: 1.75em;
      line-height: 1.5em; }
    body .eastsideTrailInfo a {
      border-bottom: 1px solid #1B528A;
      color: #1B528A;
      padding-bottom: 0.25em; }
  body .mapAbove {
    display: none; }
  body .beltlineMap {
    padding: 0; }
    body .beltlineMap .mapWrap {
      padding: 1em;
      background: #fff; }
      body .beltlineMap .mapWrap img {
        margin: 0 auto; }
  body footer {
    background: #1B528A url(../images/footerBg.png) no-repeat center;
    background-size: cover; }
    body footer h5 {
      margin: 0;
      text-align: center;
      font-size: 1.5em;
      color: #fff;
      font-weight: normal;
      padding: 1em 0; }
    body footer ul.socialMediaWrapper {
      padding: 0;
      list-style: none;
      text-align: center;
      margin-bottom: 1.5em; }
      body footer ul.socialMediaWrapper li {
        display: inline;
        margin: 0 0.25em; }
        body footer ul.socialMediaWrapper li a img {
          width: 5%; }
    body footer .addressWrap {
      text-align: center;
      color: #fff; }
      body footer .addressWrap address {
        line-height: 1.2em; }
    body footer .contactInfo {
      text-align: center;
      color: #fff;
      line-height: 1.2em;
      margin-bottom: 1.5em; }
    body footer .copyright {
      text-align: center;
      color: #fff;
      padding-bottom: 1.5em; }

/*   Media Queries   */
@media (min-width: 480px) {
  body .introSpace .imgWrap .imgWrapInner img {
    width: 140%;
    transform: translateX(-20%); } }
@media (min-width: 600px) {
  body .introSpace .imgWrap .imgWrapInner img {
    width: 120%;
    transform: translateX(-15%); } }
@media (min-width: 700px) {
  body header .logo img {
    width: 40%; }
  body .introSpace .imgWrap .imgWrapInner img {
    width: 100%;
    transform: translateX(0%); } }
@media (min-width: 767px) {
  body header .logo img {
    width: 30%; }
  body .introSpace .imgWrap .imgWrapInner img {
    width: 103%;
    transform: translate(-2%, -16%); } }
@media (min-width: 992px) {
  body header {
    background: #D1DEE9 url(../images/beltlineLogo.png) no-repeat center left 3em;
    background-size: 20%; }
    body header .menuWrapper {
      display: none; }
    body header .logo {
      display: none; }
    body header .menuWide {
      display: block; }
  body .introSpace .imgWrap .imgWrapInner {
    height: 34em; }
    body .introSpace .imgWrap .imgWrapInner img {
      width: 100%;
      transform: translate(0%, -21%); }
  body .categories .category {
    height: 17em; }
  body .about h4 {
    max-width: 70%;
    font-size: 1.75em; }
  body .trailsWrap ul.trailsList li {
    border-bottom: none; }
    body .trailsWrap ul.trailsList li a {
      padding-bottom: 0.25em; }
      body .trailsWrap ul.trailsList li a:hover {
        border-bottom: 1px solid #fff; }
  body .mapAbove {
    display: block; }
  body .eastsideTrailInfo {
    padding: 10em; }
  body .mapBelow {
    display: none; }
  body footer ul.socialMediaWrapper li {
    margin: 0 0.1em; }
    body footer ul.socialMediaWrapper li a img {
      width: 12%; } }

/*# sourceMappingURL=styles.css.map */
