
/*Color Shortcuts*/
$white: #fff;
$red : #D24958;
$footerBlue: #1B528A;

body{
  margin: 0;
  header{
    min-height: 95px;
    .menuWrapper{
      .menu{
        display: none;
      }
    }
    .logo{
      text-align: right;
      img{
        width: 50%;
      }
    }
  }
  .introSpace{
    //background: url(../images/main.jpg)no-repeat center;
    background-size: cover;

    .imgWrap{
      .imgWrapInner{
        img{
          width: 100%;
        }
      }
    }
    .introMessage{}

  }
  .about{
    text-align: center;
    color: $white;
    background: $red;
    font-size: 0.75em;
  }
  .categories{

  }
  .trailsWrap{

  }
  .eastsideTrailInfo{

  }
  .beltlineMap{

  }

  footer{
    background: $footerBlue;
      ul.socialMediaWrapper{
        padding: 0;
        list-style: none;
        text-align: center;
        li{
          display: inline;
          a{
            img{
              width: 5%;
            }
          }
        }
      }

  }
}
